<div class="row">
    <div class="col-sm-4">
        <div class="jpa-sidemenu-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success">Veg</button>
                        <button type="button" class="btn btn-danger">Non Veg</button>
                    </div>
                    <div class="jpa-divider"></div>
                </div>
                <div class="col-sm-12">
                    <div class="jpa-divider"></div>
                </div>
                <div class="col-sm-12">
                    <select name="pizza-base" id="input" class="form-control">
                        <option value="">-- Select One --</option>
                    </select>
                    <div class="jpa-divider"></div>
                </div>
                <div class="col-sm-12">
                    <select name="pizza-type" id="input" class="form-control">
                        <option value="">-- Select One --</option>
                    </select>
                    <div class="jpa-divider"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-8"></div>
</div>

