    .jpa-filtermenu-container {
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
    }

    .jpa-divider {
        border-top: 1px solid #ddd;
        margin: 15px 0px;
    }

    .-itemlisting-container {
        border: 1px solid #aaa;
    }

    .jpa-item-wrapper {
        border-bottom: 1px solid #aaa;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .jpa-item-image {
        display: inline-block;
    }

    .jpa-item-text {
        display: inline-block;
        padding-left: 40px;
        vertical-align: top;
    }

    .jpa-item-text h3 {
        margin-top: 0;
    }

    .jpa-item-price {
        margin-top: 30px;
    }

    .jpa-item-price button {
        float: right;
    }

    .jpa-norecord-message {
        text-align: center;
        border: 1px solid #ddd;
        padding: 15px 0px;
    }
